body {
    background-color: rgb(156, 207, 237);
    background-image: url('cloudsBackground.png');
    font-family: "Comfortaa", sans-serif;
}

.cloudDiv {
    top: 26%;
    left: 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 475px;
}

.mediumCloudDiv {
    display: flex;
    flex-direction: row;
}

.smallCloudDiv {
    border: 1px solid grey;
    width: 325px;
    height: 217px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    transition: 150ms ease-in-out; 
}

.smallCloudDiv:hover {
    transform: scale(1.2);
}

html {
    cursor: url('seagul.cur'), auto;
}