body {
    background-color: rgb(156, 207, 237);
    background-image: url('cloud.png');
}

.cloudDiv {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 16px;
    margin: 16px;
    width: 60%;
    height: 50%;
}